.navbar-default .navbar-nav>li>a {
    text-transform: none;
}
.site-header.navbar-sm .navbar-brand>img {
    max-height:33px;
}
.center-block {
    margin-top: 20px;
    margin-bottom: 40px;
}
blockquote {
    font-size: inherit;
    font-family: inherit;
}
